@page "/userProfile"
@rendermode InteractiveServer
@using BlazorAIChat.Components.Shared
@using BlazorAIChat.Models
@using BlazorAIChat.Utils
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<AIChatDBContext> dbContextFactory

@if (currentUser!=null)
{
    <div class="admin-container">
        <div class="card mt-3" style="max-width:700px">
            <div class="card-header">
                <h4>User Profile</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Name:</label>
                    <InputText class="form-control" @bind-Value="currentUser.Name" />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <InputText class="form-control" @bind-Value="currentUser.Email" />
                </div>
                <div class="form-group">
                    <label>Role:</label>
                    <input type="text" class="form-control" value="@Enum.GetName(currentUser.Role)" disabled />
                </div>
                <div class="form-group">
                    <label>Requested:</label>
                    <input type="text" class="form-control" value="@currentUser.DateRequested.ToShortDateString()" disabled />
                </div>
                <div class="form-group">
                    <label>Approved:</label>
                    <input type="text" class="form-control" value="@(currentUser.DateApproved.HasValue?currentUser.DateApproved.Value.ToShortDateString():string.Empty)" disabled />
                </div>
                <br/>
                <button type="button" class="btn btn-primary" @onclick="SaveChanges">Save</button>
                <button type="button" class="btn btn-secondary" @onclick="Back">Back</button>
            </div>
            <br/><br/>
            <div class="card-body">
                <a href="/UserCrawler">Setup web crawl</a>
            </div>
        </div>
    </div>

    <Alert AlertType="@alertType" AlertMessage="@alertMessage" OnClose="CloseAlert" />
}

@code {


    User? currentUser =null;
    private string alertMessage { get; set; } = string.Empty;
    private string alertType { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadCurrentUser();

    }

    private async Task LoadCurrentUser()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var userPrincipal = authState.User;
            if (userPrincipal.Identity?.IsAuthenticated == true)
            {
                currentUser = UserUtils.ConvertPrincipalToUser(userPrincipal);
            }

            if (currentUser == null)
            {
                NavigationManager.NavigateTo("/");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Initialization error: {ex.Message}");
        }
    }

    private async Task SaveChanges()
    {
        if (currentUser != null && !string.IsNullOrEmpty(currentUser.Id))
        {
            using (var dbContext = dbContextFactory.CreateDbContext())
            {
                var trackedEntity = dbContext.ChangeTracker.Entries<User>().FirstOrDefault(e => e.Entity.Id == currentUser.Id);
                if (trackedEntity == null)
                {
                    dbContext.Attach(currentUser);
                    dbContext.Entry(currentUser).State = EntityState.Modified;
                }
                else
                {
                    dbContext.Entry(trackedEntity.Entity).CurrentValues.SetValues(currentUser);
                }

                await dbContext.SaveChangesAsync();
                ShowAlert("User profile updated successfully", AlertTypeEnum.success);
                StateHasChanged();
            }
        }
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/",true);
    }

    private void ShowAlert(string message, AlertTypeEnum alertType = AlertTypeEnum.info)
    {

        alertMessage += message + " ";
        this.alertType = "alert-" + (Enum.GetName(typeof(AlertTypeEnum), alertType)?.ToLower() ?? "warning");
        StateHasChanged();
    }

    private void CloseAlert()
    {
        alertMessage = string.Empty;
        alertType = string.Empty;
        StateHasChanged();
    }
}
